<div id="help" class="container">
  <div class="row top">
    <div class="col-md-12">
      <h1>About AVResearcher XL</h1>
    </div>
    <div id="abouttext" class="col-md-6 col-xs-12"><p>
      AVResearcherXL is a tool for exploring radio and television programme descriptions, television subtitles, tweets about television programmes, and general newspaper articles. The interface searches across the catalogue "<a href="http://in.beeldengeluid.nl/collectie/#/search/?q=&amp;publiclyViewableResultsOnly=false" target="_blank">iMMix</a>" of the <a href="http://www.beeldengeluid.nl/en" target="_blank">Netherlands Institute for Sound and Vision</a> and a selection of newspapers of <a href="http://www.kb.nl/" target="_blank">KB Royal Archive of the Netherlands</a>. For an elaborate user manual, we refer to the <a href="/#/help">help page</a>.
    </p><p>
      AVResearcherXL is financially supported by <a href="http://clarin.nl/" target="_blank">CLARIN-NL</a> within the ‘QuaMeRDES-project’ and by <a href="http://www.clariah.nl/en/" target="_blank">CLARIAH</a>-SEED within the ‘Research Instruments for Media Studies-project’. AVResearcherXL is an extended version of MeRDES, the tool developed in 2012 by the <a href="http://www.nwo.nl/en/research-and-results/programmes/Continuous+Access+To+Cultural+Heritage+(CATCH)" target="_blank">NWO-CATCH</a> project <a href="http://ilps.science.uva.nl/node/735" target="_blank">BRIDGE</a>. MeRDES was further developed into AVResearcher by the Netherlands Institute for Sound and Vision in 2013.
    </p>
      <p>
        AVResearcherXL is a collaborative project of <a href="http://tvintransition.wordpress.com/" target="_blank">Centre for Television in Transition</a> (Utrecht University), <a href="http://ilps.science.uva.nl/" target="_blank">Intelligent Systems Lab Amsterdam</a> (University of Amsterdam) and the Netherlands Institute for Sound and Vision. The partners worked together with <a href="http://dispectu.com/" target="_blank">Dispectu</a> for the development of the interface and back-end, and with <a href="http://www.frontwise.com/" target="_blank">Frontwise</a> for the styling of the interface.
      </p>
      <p>
        Parts of AVResearcherXL were developed by the
        <a href="https://www.esciencecenter.nl/">Netherlands eScience Center</a>
        within the project "Searching Public Discourse".
      </p>

      <p>
        If you make use of the tool, we kindly ask you to cite these papers:
      </p>
      <ul>
        <li>Bron, M., Gorp, J. van, Nack, F., Rijke, M. de, Vishneuski, Andrei &amp; Leeuw, J.S. de (2012). <a href="http://dl.acm.org/citation.cfm?id=2348283.2348342&amp;coll=DL&amp;dl=GUIDE" target="_blank">A Subjunctive Exploratory Search Interface to Support Media Studies Researchers</a>. SIGIR '12: 35th international ACM SIGIR conference on Research and development in information retrieval Portland, Oregon: ACM.</li>
        <li>Huurnink, B., Bronner, A., Bron, M., Gorp, J. van, Goede, B. de &amp; Wees, J. van (2013). <a href="http://dspace.library.uu.nl/handle/1874/278168" target="_blank">AVResearcher: Exploring Audiovisual Metadata</a>. DIR 2013: Dutch-Belgian Information Retrieval Conference Delft: DIR.</li>
      </ul>
      <p>
        The code for AVResearcherXL is available under the terms of the
        <a href="http://opensource.org/licenses/Apache-2.0">Apache License</a>
        and can be found on
        <a href="https://github.com/beeldengeluid/AVResearcherXL">GitHub</a>.
      </p>

      <p>
        For more information, please contact Eva Baaren (<a href="mailto:ebaaren@beeldengeluid.nl">ebaaren@beeldengeluid.nl</a>) or the project leader Jasmijn Van Gorp (<a href="mailto:j.vangorp@uu.nl">j.vangorp@uu.nl</a>).
      </p></div>
    <div id="collectionstats" class="col-md-offset-1 col-md-5 col-xs-12">
      <ul></ul>
    </div>
  </div>
</div>
