<div id="qaffix_spacer"></div>
<div id="qaffix">
  <div id="collection-selector-container">
	  <div class="container">
		  <div class="collection-selector q1"></div>
		  <div class="collection-selector q2"></div>
	  </div>
  </div>

  <div id="query-input-container">
	  <div class="container">
		  <div class="query-input q1"></div>
		  <div class="query-input q2"></div>
	  </div>
  </div>
</div>

<div id="timeslider-container">
  <div class="container">
	  <div class="timeslider q1 hidden"></div>
		<div class="timeslider q2 hidden"></div>
  </div>
</div>

  <div id="filters-container">
	  <div class="container">
		  <div class="filters q1 hidden"></div>
		  <div class="filters q2 hidden"></div>
	  </div>
  </div>


<div id="facets-container">
	<div class="container">
		<div class="change-view hidden">
			<ul>
				<li><a href="#" class="ir cloud active" data-view="FacetsView" data-target="cloud" title="Cloud visualization">Cloud</a></li>
				<li><a href="#" class="ir barchart" data-view="FacetsView" data-target="barchart" title="Barchart visualization">Barchart</a></li>
			</ul>
		</div>
		<div class="facets q1 hidden"></div>
		<div class="facets q2 hidden"></div>
	</div>
</div>

<div id="timeseries-container">
	<div class="container">
		<div class="change-view hidden">
			<ul>
				<li><a href="#" class="ir absolute active" data-view="TimeseriesView" data-target="absolute" title="Absolute counts">Absolute</a></li>
				<li><a href="#" class="ir relative" data-view="TimeseriesView" data-target="relative" title="Relative counts (absolute counts ∕ #documents per year)">Relative</a></li>
			</ul>
		</div>
		<div id="timeseries" class="hidden"></div>
	</div>
</div>

<div id="hits-container">
	<div class="container">
		<div class="change-view hidden">
			<ul>
				<li><a href="#" class="ir relevance active" data-view="ResultsListView" data-target="relevance" title="Sort by relevance">Relevance</a></li>
				<li><a href="#" class="ir datetime-desc" data-view="ResultsListView" data-target="datetime_desc" title="Sort by publication date (descending)">Publication date (descending)</a></li>
				<li><a href="#" class="ir datetime-asc" data-view="ResultsListView" data-target="datetime_asc" title="Sort by publication date (ascending)">Publication date (ascending)</a></li>
			</ul>
		</div>
		<div class="hits q1 hidden"></div>
		<div class="hits q2 hidden"></div>
	</div>
</div>

<div id="pagination-container">
	<div class="container">
		<div class="pagination q1 hidden"></div>
		<div class="pagination q2 hidden"></div>
	</div>
</div>
