<div id="loginmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <div class="logo">
            <img src="static/img/logo-b.png" />
        </div>
        <div id="userinput">
            <h1>Please sign in</h1>
            <div class="errors alert alert-warning" role="alert">
                <ul></ul>
            </div>
            <form id="loginform" class="form-signin">
                <input type="text" name="email" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" name="password" class="form-control" placeholder="Password">
                <button class="btn btn-large btn-primary btn-block" type="submit">Sign In</button>
                <a href="#register" class="btn btn-large btn-link btn-block">Create a new account</a>
            </form>
        </div>
        <div class="loading">
            <img src="static/img/spinner.gif" />
        </div>
    </div>
</div>
