<div id="registermodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <div class="logo">
            <img src="static/img/logo-b.png" />
        </div>
        <div id="userinput">
            <h1>Create Account</h1>
            <div class="errors alert alert-warning" role="alert">
                <ul></ul>
            </div>
            <form id="registrationform" class="form-horizontal">
                <input type="text" name="email" id="email" class="form-control" placeholder="Your university or organization email address"
                       autocomplete="username">
                <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                <input type="text" name="organization" id="organization" class="form-control" placeholder="Organization">
                <input type="password" name="password" id="password" class="form-control" placeholder="Password">

                <button class="btn btn-large btn-primary btn-block" type="submit">Create Account</button>
            </form>
        </div>
        <div class="loading">
            <img src="static/img/spinner.gif" />
        </div>
    </div>
</div>
