<div class="cloud">
    <ul>
        <% _.each(terms, function(term){ %>
            <li>
            <% if (term[2]) { %>
              <span class="facet" style="font-size:<%= scale(term[1]) %>px;" title="<%= term[1] %> <%= (term[1] > 1) ? 'hits' : 'hit' %>"><%= term[0] %></span>
            <% } else { %>
              <a href="#" class="facet" data-facet="<%= facetName %>" data-value="<%= term[0] %>" style="font-size:<%= scale(term[1]) %>px;" title="<%= term[1] %> <%= (term[1] > 1) ? 'hits' : 'hit' %>"><%= term[0] %></a>
            <% } %>
            </li>
        <% }); %>
    </ul>
</div>
