<div id="collection-selector-container">
	<div class="container">
		<div class="collection-selector q1"></div>
		<div class="collection-selector q2"></div>
	</div>
</div>

<div id="query-input-container">
	<div class="container">
		<div class="query-input q1"></div>
		<div class="query-input q2"></div>
	</div>
</div>

<div id="timeslider-container">
	<div class="container">
		<div class="timeslider q1"></div>
		<div class="timeslider q2"></div>
	</div>
</div>

<div id="facets-container">
	<div class="container">
		<div class="change-view">
			<ul>
				<li><a href="#" class="ir cloud active" data-view="FacetsView" data-target="cloud">Cloud</a></li>
				<li><a href="#" class="ir barchart" data-view="FacetsView" data-target="barchart">Barchart</a></li>
			</ul>
		</div>
		<div class="facets q1"></div>
		<div class="facets q2"></div>
	</div>
</div>

<div id="timeseries-container">
	<div class="container">
		<div class="change-view">
			<ul>
				<li><a href="#" class="ir absolute active" data-view="TimeseriesView" data-target="absolute">Absolute</a></li>
				<li><a href="#" class="ir relative" data-view="TimeseriesView" data-target="relative">Relative</a></li>
			</ul>
		</div>
		<div id="timeseries"></div>
	</div>
</div>

<div id="hits-container">
	<div class="container">
		<div class="change-view">
			<ul>
				<li><a href="#" class="ir cloud active" data-view="FacetsView" data-target="cloud">Cloud</a></li>
				<li><a href="#" class="ir barchart" data-view="FacetsView" data-target="barchart">Barchart</a></li>
			</ul>
		</div>
		<div class="hits q1"></div>
		<div class="hits q2"></div>
	</div>
</div>

<div id="pagination-container">
	<div class="container">
		<div class="pagination q1"></div>
		<div class="pagination q2"></div>
	</div>
</div>

<div id="query-properties-container">
<!-- 	<div id="timesliders" class="row-container">
		<div class="timeslider q1 boxed">
		</div>
		<div class="timeslider q2 boxed">
		</div>
	</div>
	<div id="timeseries" class="boxed"></div>
	<div id="facets" class="boxed"></div>
</div>
<div id="results-container">
	<div class="results q1 boxed">
		<div class="hits q1"></div>
		<div class="pagination pagination-small pagination-right q1"></div>
	</div>
	<div class="results q2 boxed">
		<div class="hits q2"></div>
		<div class="pagination pagination-small pagination-right q2"></div>
	</div> -->
</div>
