<h1 id="logo"><a href="" class="ir">AVResearcher</a></h1>

<% if (!(LOGIN_DISABLED)) { %>
<ul class="pull-right main-menu">
  <li>
    <div class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <span class="ir icon-user"></span>
        <span class="username"></span>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
        <li><a tabindex="-1" href="#logout">Logout</a></li>
      </ul>
    </div>
  </li>
</ul>
<% } %>
