<div class="tabbable">
    <ul class="nav nav-tabs">
        <% _.each(aggregations, function(aggregation){ %>
            <% if(aggregation.id == activeTab){ %>
                <li class="active"><a href="#" class="nav-tab" data-target="<%= aggregation.id %>"><%= aggregation.name %></a></li>
            <% } else { %>
                <li><a href="#" class="nav-tab" data-target="<%= aggregation.id %>"><%= aggregation.name %></a></li>
            <% } %>
        <% }); %>
        <%
            if(representation == "barchart"){
                barchart = "active";
                cloud = "inactive";
            }
            else {
                barchart = "inactive";
                cloud = "active";
            }
        %>
        <li class="pull-right representation <%= barchart %>"><i class="icon-bar-chart icon-2x" data-representation="barchart"></i></li>
        <li class="pull-right representation <%= cloud %>"><i class="icon-cloud icon-2x" data-representation="cloud"></i></li>
    </ul>
    <div class="tab-content"></div>
</div>
